.overflow-visible {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: visible;
}

.overflow-hidden {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: hidden;
}

.overflow-auto {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: auto;
}

.overflow-x-y {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow-x: hidden;
    overflow-y: scroll;
}