.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.normal-weight {
  font-weight: normal;
}

.light {
  font-weight: lighter;
}

.thick {
  font-weight: 900;
}

.thicker {
  font-weight: bolder;
}

.normal-variant {
  font-variant: normal;
}

.small {
  font-variant: small-caps;
}