div {
  background-color: green;
  color: white;
  padding: 25px;
  text-align: center;
}

div:hover {
  background-color: blue;
}

.expande:hover {
  width: 500px;
}

div p:hover {
  background-color: green;
}

a {
  display: inline-block;
  background-color: tomato;
  padding: 5px;
  color: white;
  border-radius: 25%;
  border: brown 1px solid;
}

a:hover {
  background-color: red;
}
